# ==========================================
# Unreal Engine 핵심 임시 폴더 (깃허브 제외 대상)
# ==========================================
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/

# ==========================================
# 프로젝트 루트의 임시 파일들
# ==========================================
*.log
*.obj
*.pdb
*.ilk
*.cache
*.sln
*.vsconfig

# ==========================================
# Visual Studio / IDE 관련
# ==========================================
.vs/
.idea/
*.DotSettings.user

# ==========================================
# 소스 코드 색인 및 라이더 전용 캐시
# ==========================================
.run/
.consulo/
out/

# ==========================================
# OS 자동 생성 파일
# ==========================================
.DS_Store
Thumbs.db